.git
.agents
.codex
.env
.env.*
*.env
**/__pycache__
**/*.pyc
**/*.sqlite3
**/venv
**/.venv
**/node_modules
frontend/dist
backend/staticfiles
.ruff_cache
.pytest_cache
docs

.aws
frontend/node_modules
backend/venv
**/.env
**/.env.*
**/*.env
